@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #FFFFFF;
    --foreground: #020817;

    --primary: #BE3144;
    --primary-light: #EFC3C9;
    --primary-foreground: #FFFFFF;

    --link: #126D8E;

    --border: #A6A6A6;

    --warning: #F2CD00;

    --danger: #D64256;
    --danger-foreground: #f8fafc;

    --disabled: #EBEBE4;
    --disabled-foreground: #FFFFFF;

    --subtle-status: #979797;

    --fire-theme: #ec8146;
    --grass-theme: #119822;
    --water-theme: #4D79FF;

    --pokemon-health-high: #00A36C;
    --pokemon-health-low: #de2154;
  }
}

#root {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  font-family: 'Montserrat';
}